{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/lib-create.css'%}">
{% endblock %}

    <footer class="sticky-footer">
        <div class="footer-content">
            <div class="footer-head">
                <img src="{% static 'image/PLM_Logo-removebg-preview.png'%}">
                <h7>Pamantasan ng Lungsod ng Maynila</h7>
            </div>
            <p class="pg">
                <i class="fas fa-map-marker-alt"></i> Gen. Luna corner Muralla St., Intramuros <br>
                <i class="fas fa-phone-alt"></i> Trunkline: (+63 2)8 643-2500 <br>
                <i class="fas fa-map-marker-alt"></i> Manila, Philippines 1002 
            </p>
        </div>
        <!-- End of Footer -->