{% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/lib-create.css'%}">
{% endblock %} 

<!-- Start of Nav Bar -->
    <div class="wrapper">
        <header>
            <nav>
                <div class="logo"><a href="{% url 'index' %}">PLM Library</a></div>
                <div class="menu">
                    <ul class="mm">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <li class="mm-links"><a href="/books">Home</a></li>
                        <li class="mm-links"><a href="{% url 's_browse' %}">Browse</a></li>
                        <li class="mm-links"><a href="/books/#about-us">About</a></li>
                        <li class="mm-links"><a href="{% url 'contact' %}">Contact Us</a></li>
                        <div class="user">
                            <li onclick="toggleMenu()"> {{ user }} &nbsp; <i class="fas fa-caret-down"></i>

                                <div class="dropdown-menu" id="subMenu">
                                    <ul class="ddmenu">
                                        <li class="dd-menu">
                                            <a href="{% url 'favorite_list' %}"><img src="{% static 'image/bookmark.png'%}">Favorites</a>
                                        </li>
                            

                                <hr>
                                        <li class="dd-menu">
                                            <a href="/books/logout"><img src="{% static 'image/logout.png'%}">Log-out</a>
                                        </li>
                            </li>
                                    </ul>
                        </div>

                    </ul>
                </div>
                </li>
    </div>
    </ul>
    </div>
    </nav>
    </header>
    <!-- End of Nav Bar -->

    <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
        <script>
            $(window).scroll(function(){
                if($(window).scrollTop()){
                    $("nav").removeClass("yellow");
                }
                else{
                    $("nav").addClass("yellow");
                }
            });
        </script>
    <!-- End of Nav Bar -->