@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    height: 100%;
}

body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
/* Start of Nav Bar */
header{
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
    transition: 0.6s;
    z-index: 9999;
}

.content{
    width: 100%;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}

.logo{
    position: fixed;
    float: left;
    margin: 16px 36px;
    color: #000;
    font-weight: bold;
    font-size: 24px;
}

.mm{
    list-style: none;
    background: #FFEA5A;
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: center;
    margin: 0;
    transition: 1s;
}

.mm-links{
    display: inline-block;
    padding: 20px;
}

.mm .mm-links a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.mm .mm-links a:hover{
    background-color: #fff;
    transition: 0.3s;
    border: 22px solid #fff;
}

.menu .mm .mm-links .active{
    background-color: #fff;
    border: 22px solid #fff;
}

.sign-in{
    display: inline-block;
    margin-top: 20px;
    margin-right: 20px;
    background-color: #0D6AE4;
    padding: 5px 5px 5px 5px;
    width: 120px;
    border-radius: 40px;
    cursor: pointer;
}

.sign-in a{
    text-decoration: none;
    color: #fff;    
}

.sign-in:hover{
    box-shadow: 0 5px 15px #888888;
}

/* End of Nav Bar */
/*filters*/ 
.listgrid { 
    margin-left: 100px;
}
.listgrid .views ul{
    display: flex;
    list-style: none;
}

.listgrid .views ul li{
    padding: 5px 5px 5px 5px;
}

.listgrid .views ul li:hover{
    background-color: #FFEA5A;
    box-shadow: 0 5px 15px #888888;
    transition: 0.3s;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    cursor: pointer;
}

.listgrid .views ul li.active{
    background-color: #FFEA5A;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
}
/*form*/ 
.form {
    margin-left: 100px;
}

.submit-btn{
    background-color: #FFEA5A;
    color: black;
    border-radius: 5px;
    padding: 5px 8px;
    border: none;
    cursor: pointer;
}

.submit-btn:hover{
    box-shadow: 0 5px 15px #888888;
}
/*end form*/
/* Search Box */
.search-box{
    margin-left: 100px;
    /* dito sa 2 lines above iaadjust placement ng search container */
}

.search-box a{
    margin-left: 10px;
    color: #000;
}

.search-box a i{
    background-color: #FFEA5A;
    padding: 16px 16px 16px 16px;
    border-radius: 10px;
}

.search-box a i:hover{
    box-shadow: 0 5px 15px #888888;
    transition: 0.3s;
}

button {
    border: none;
    cursor: pointer;
}
.search-btn i{
    background-color: #FFEA5A;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
}

.search-btn i:hover{
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
    transition: 0.3s;
}


.search-txt{
    width: 300px;
    height: 30px;
    padding: 10px 10px 10px 10px;
}
/*search end*/
/*filters end*/


/* Start of Content */
/* Books */
.pghead{
    padding-top: 50px;
    margin: 50px 0 0 50px;
}

.cards{
    margin: 50px 50px 50px 180px;
    /* width: 900px; */
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card{
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    padding: 15px 20px;
    border-radius: 10px;
}

.card img{
    width: 100%;
    display: block;
}

.card-content{
    line-height: 1.5;
    font-size: 0.9em;
    padding: 15px;
}

.addtl-info{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
    float: right;
}

/* List */
.view_item img{
    height: 200px;
    width: 150px;
}

.view_item{
    max-width: 1000px;
    border: 2px solid #D9D9D9;
    border-radius: 10px;
    margin: 20px 50px 20px 200px;
    padding: 20px 20px 20px 20px;
    display: flex;
}

.vi_left{
    padding-right: 30px;
}
/* List */
/* Books */

.pagination { 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* End of Content */

/* Start of Footer */
.sticky-footer{
    background-color: #FFEA5A;
    position: relative;
    bottom: 0px;
    width: 100%;
    padding: 20px 20px 20px 20px;
    box-shadow: 5px 5px 5px 5px #888888;
}

.footer-content .footer-head{
    display: flex;
}

.footer-content .footer-head img{
    width: 40px;
    padding-right: 10px;
}

.pg{
    padding-top: 10px;
    padding-left: 50px;
}

.line {
    width: 410px; 
    color: #FFEA5A;
}
/* End of Footer */