@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    height: 100%;
}

body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
/* Start of Nav Bar */
header{
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
    transition: 0.6s;
    z-index: 9999;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
}
.content{
    width: 100%;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}

.logo{
    position: fixed;
    float: left;
    margin: 16px 36px;
    color: #000;
    font-weight: bold;
    font-size: 24px;
}

.mm{
    list-style: none;
    background: #FFEA5A;
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: center;
    margin: 0;
    transition: 1s;
}

.mm-links{
    display: inline-block;
    padding: 20px;
}

.mm .mm-links a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.mm .mm-links a:hover{
    background-color: #fff;
    transition: 0.3s;
    border: 22px solid #fff;
}

.menu .mm .mm-links .active{
    background-color: #fff;
    border: 22px solid #fff;
}

.user{
    display: inline-block;
    padding: 20px;
    color:#000;
}

.user:hover{
    background-color: #fff;
    border: 1px solid #fff;
    transition: 0.3s;
    cursor: pointer;
}

/* Drop down  */
.dropdown-menu{
    display: block;
    position: absolute;
    right: 0;
    top: 67px;
    background-color: #fff;
    text-decoration: none;
    border: 1px solid #D9D9D9;
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.5s;
}

.dropdown-menu.openMenu{
    max-height: 300px;
}

.ddmenu{
    display: block;
    list-style: none;
    text-decoration: none;
    color: #000;
    padding: 10px 0 10px 0;
}

.dd-menu a{
    text-decoration: none;
    color: #000;
    width: 100px;
}

.dd-menu a:hover{
    background-color: #FFEA5A;
    border: 16px solid #FFEA5A;
    transition: 0.2s;
}

.dd-menu img{
    width:25px;
    padding-right: 10px;
}

hr {
    border: none;
    height: 1px;
    width: 120px;
    background-color: #D9D9D9;
    margin-top: 15px;
    margin-bottom: 15px;
}
/* Drop down  */

/* End of Nav Bar */

/* Start of Content */
/* Search Box */
.search-box{
    margin-top: 100px;
    margin-left: 200px;
    /* dito sa 2 lines above iaadjust placement ng search container */

    display: flex;
    /* width: 100%; */
    align-items: center;
    justify-content: center;
}

.search-box a{
    margin-left: 10px;
    color: #000;
}

.search-box a i{
    background-color: #FFEA5A;
    padding: 16px 16px 16px 16px;
    border-radius: 10px;
}

.search-box a i:hover{
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
    transition: 0.3s;
}

button {
    border: none;
    cursor: pointer;
}
.search-btn i{
    background-color: #FFEA5A;
    padding: 16px 16px 16px 16px;
    border-radius: 10px;
}

.search-btn i:hover{
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
    transition: 0.3s;
}


.search-txt{
    width: 500px;
    height: 50px;
    padding: 10px 10px 10px 10px;
}

.search-box img{
    width: 60px;
    padding-right: 10px;
}

/* Pop up for form START */
.search-container{
    display: none;
    width: 500px;
    margin-left: 380px; /* dito iaadjust para magline up yung adv search sa regular search text box */
    padding: 10px 10px 10px 10px;
    justify-content: center;
}

.close-btn{
    float: right;
}

.close-btn:hover{
    color: #FFEA5A;
    cursor: pointer;
}

#show:checked ~ .search-container{
    display: block;
}

.show-btn{
    cursor: pointer;
}

.select-field{
    width: 120px;
    border-radius: 6px;
    padding: 5px 5px 5px 5px;
    box-shadow: 0 5px 15px #888888;
}

.text-field{
    border: 1px solid #888888;
    border-radius: 6px;
    padding: 5px 5px 5px 5px;
    box-shadow: 0 5px 15px #888888;
}

.srch{
    float: right;
    background-color: #0D6AE4;
    padding: 5px 5px 5px 5px;
    border-radius: 6px;
    cursor: pointer;
}

.srch:hover{
    box-shadow: 0 5px 15px #888888;
}

.srch i{
    color: #fff;
    margin-right: 7px;
}

.srch-btn{
    background-color: #0D6AE4;
    border: none;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.chck-btn{
    display: none;
}
/* Pop up Adv Search END */

/* Add books */
.create{
    background-color: #FFEA5A;
    border: 8px solid #FFEA5A;
    border-radius: 10px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.create:hover{
    background-color: #15C39A;
    border: 8px solid #15C39A;
    transition: 0.3s;
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}
/* Add books */

/* Side nav bar START */
.side-navbar{
    height: 100%;
    width: 248px;
    position: fixed;
    background-color: #D9D9D9;
    padding-top: 20px;   
    padding-left: 20px; 
    margin-top: 100px;
    border-top-right-radius: 25px;
    box-shadow: 0 5px 15px #888888;
}

.slct-field{
    border-radius: 5px;
    width: 130px;
    box-shadow: 0 5px 15px #888888;
}

.submit-btn{
    background-color: #15C39A;
    color: #fff;
    border-radius: 5px;
    padding: 8px 8px 8px 8px;
    width: 70px;
    border: none;
    cursor: pointer;
}

.listgrid .views ul{
    display: flex;
    list-style: none;
}

.listgrid .views ul li{
    padding: 5px 5px 5px 5px;
}

.listgrid .views ul li:hover{
    background-color: #FFEA5A;
    transition: 0.3s;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
}

.listgrid .views ul li.active{
    background-color: #FFEA5A;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
}
/* Side nav bar END */

/* Books */
/* Grid */
.cards{
    margin: 50px 0 50px 280px;
    /* width: 900px; */
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card{
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    padding: 15px 20px;
    border-radius: 10px;
}

.card img{
    width: 100%;
    display: block;
}

.card-content{
    line-height: 1.5;
    font-size: 0.9em;
    padding: 15px;
}

.addtl-info{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
    float: right;
}
/* Grid */

/* List */
.view_item img{
    height: 200px;
    width: 150px;
}

.view_item{
    max-width: 1000px;
    border: 2px solid #D9D9D9;
    border-radius: 10px;
    margin: 20px 50px 20px 280px;
    padding: 20px 20px 20px 20px;
    display: flex;
}

.vi_left{
    padding-right: 30px;
}
/* List */
/* Books */


.pagination { 
    width: 100%;
    margin-left: 300px;
}

/* End of Content */

/* Start of Footer */
.sticky-footer{
    background-color: #FFEA5A;
    position: relative;
    bottom: 0px;
    width: 100%;
    padding: 20px 20px 20px 20px;
    box-shadow: 5px 5px 5px 5px #888888;
}

.footer-content .footer-head{
    display: flex;
}

.footer-content .footer-head img{
    width: 40px;
    padding-right: 10px;
}

.pg{
    padding-top: 10px;
    padding-left: 50px;
}
/* End of Footer */